
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="active" aria-current="true" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Excelência Jurídica em Cada Caso</h1>
            <p class="opacity-75">Conquiste resultados com profissionais dedicados, prontos para oferecer soluções jurídicas personalizadas para você e sua empresa.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Agende uma Consulta</a></p>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Confiança e Transparência em Todos os Processos</h1>
            <p>Com uma abordagem transparente e ética, trabalhamos para proteger seus interesses legais com total comprometimento.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Conheça Nossos Serviços</a></p>
          </div>
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
        </svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Resultados que Falam por Si</h1>
            <p>Com décadas de experiência no setor jurídico, nosso escritório tem um histórico de casos bem-sucedidos, trazendo paz de espírito para nossos clientes.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Veja Casos de Sucesso</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>
  
  <div></div>

  <main>
    <div class="container py-4">
        
      <div class="p-2 mb-2 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Trabalhamos ao seu lado e do seu negócio</h1>
          <p class="col-md-8 fs-4">Na Oreianet Advocacia, acreditamos que o bem mais precioso que todos temos é o nome. Eficiência, Eficácia, Conhecimento, Integridade e Idoneidade resumem a forma com a qual lidamos com você e seu caso. Agende uma visita, fale por whatsapp, ligue em nossos números e nos permita ser um parceiro confiável na sua jornada e/ou de sua empresa.</p>
          <button class="btn btn-outline-secondary" type="button">Saiba Mais</button>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Direito Empresarial</h2>
            <p>O Direito empresarial no estado da arte para a sua empresa crescer ou se recuperar o mais breve possível.  Lembre-se que o nosso negócio é ajudar você a atingir o seu potencial. Fornecemos serviços mensais de assessoria empresarial para a sua empresa, assim como defendemos os seus interesses em juízo e extrajudicialmente.</p>
            <button class="btn btn-outline-light" type="button">Saiba Mais</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Oreianet Advocacia</h2>
            <p>Conte conosco para uma parceria confiável e duradoura. Nossa missão é abrir as portas para que o seu negócio inovador 
              cresça de forma segura a fim de mudar a sociedade!</p>
            <button class="btn btn-outline-secondary" type="button">Saiba Mais</button>
          </div>
        </div>
      </div>
  
      
    </div>
  </main>
  